extends layout
block content

	.content(style="padding-top:75px")
		.container
			.row
				.col-sm-12
					h2 Our Members
					p.
						Our students are absolutely crazy. With different backgrounds, experience levels, skills, and interests, members bring a lot to the table for collaboration and knowledge sharing. Get in on the action by applying for membership
			.row
				.col-sm-12
					.row
						.profiles
							ul
								each person in people
									li
										a(href="#{person[3]}" target="_blank")
											img.member(src='/images/profiles/'+'#{person[1]}')
											span(class="text-content")
												span #{person[0]} -  #{person[2]}
										p #{person[0]}
